/* Common styles */
.nobr {
  white-space:nowrap;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  /* FF doesn't support blur filter, but SVG */
  filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur");
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius = '3');
  filter: blur(3px);
}
/* !Common styles */

/* No javascript support message */
#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}
/* !No javascript support message */

/* no browser support message */
#browser-is-not-supported {
  background-color: #fff;
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  font-weight: normal;
}

html.no-fontface #browser-is-not-supported,
html.no-boxshadow #browser-is-not-supported,
html.no-backgroundsize #browser-is-not-supported,
html.no-csstransforms #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-cssgradients #browser-is-not-supported {
  display: block !important;
}

#browser-is-not-supported h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#browser-is-not-supported p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}

#browser-is-not-supported .browsers-list {
  text-align: center;
}

#browser-is-not-supported .browsers-list a {
  padding: 0 10px;
}

#browser-is-not-supported .ignore-my-browser {
  text-decoration: underline;
  cursor: pointer;
}
/* !no browser support message */

/* content loader */
#content-loader {
  z-index: 2147483645;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(144,202,249,1)), color-stop(100%, rgba(74,20,140,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  left: 50%;
  -webkit-animation: loader 2s infinite ease;
  -moz-animation: loader 2s infinite ease;
  -o-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  -moz-animation: loader-inner 2s infinite ease-in;
  -o-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* !content loader */

/* главная страница */
#part0 {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background: -moz-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(144,202,249,1)), color-stop(100%, rgba(74,20,140,1)));
  background: -webkit-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: -o-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: -ms-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background-size: 150% 150%;
  -webkit-animation: partbg 15s infinite ease;
  -moz-animation: partbg 15s infinite ease;
  -o-animation: partbg 15s infinite ease;
  animation: partbg 15s infinite ease;
}

@-webkit-keyframes partbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes partbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes partbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes partbg { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#part0 > h1 {
  position: fixed;
  width: 70%;
  left: 15%;
  top: 2%;
  font-weight: normal;
  font-size: 2.4vw;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
}

#part0 .part-link {
  position: fixed;
  width: 40%;
  height: 40%;
  -webkit-box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  -moz-box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  -o-box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#part0 .part-link > .description {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 2% 0 2% 0;
  text-align: center;
  bottom: 0;
  background-color: rgba(255,255,255,.5);
  font-size: 1.6em;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  cursor: pointer;
}

#part0 .part-link:hover > .description {
  padding: 30% 0;
}

#part0 .part-link > .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  cursor: pointer;
}

#part0 .part-link:hover > .bg {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  /* FF doesn't support blur filter, but SVG */
  filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur");
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius = '3');
  filter: blur(3px);
}

#part0 .part-link.part1 {
  top: 14%;
  left: 8%;
}

#part0 .part-link.part1 .bg {
  background-image: url("../img/part1-link.jpg");
  background-position: center top;
}

#part0 .part-link.part2 {
  top: 14%;
  left: 52%;
}

#part0 .part-link.part2 .bg {
  background-image: url("../img/part2-link.jpg");
  background-position: center top;
}

#part0 .part-link.part3 {
  top: 56%;
  left: 8%;
}

#part0 .part-link.part3 .bg {
  background-image: url("../img/part3-link.jpg");
  background-position: center center;
}

#part0 .part-link.part4 {
  top: 56%;
  left: 52%;
}

#part0 .part-link.part4 .bg {
  background-image: url("../img/part4-link.jpg");
  background-position: left center;
}
/* !главная страница */

/* часть 1, 2, 3, 4 */
#part1,
#part2,
#part3,
#part4 {
  display: none;
  width: 100%;
  background-color: #efefef;
  padding: 100px 0 90px 0;
  font-family: "Times New Roman", serif;
  font-size: 1.4em;
  background: -moz-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(144,202,249,1)), color-stop(100%, rgba(74,20,140,1)));
  background: -webkit-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: -o-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: -ms-linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background: linear-gradient(270deg, rgba(144,202,249,1) 0%, rgba(74,20,140,1) 100%);
  background-size: 200% 200%;
  -webkit-animation: partbg 15s infinite ease;
  -moz-animation: partbg 15s infinite ease;
  -o-animation: partbg 15s infinite ease;
  animation: partbg 15s infinite ease;
}

.container {
  width: 70%;
  background-color: #fff;
  padding: 40px 50px;
  margin-left: 13%;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  -moz-box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  -o-box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,.4);
}

.container h1,
.container h2 {
  text-align: center;
  font-weight: normal;
}
/* !часть 1 */

/* главное меню */
#part-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #dfdfdf;
  overflow: hidden;
  -webkit-box-shadow: 0 -1px 5px 0 rgba(129,129,127,1);
  -moz-box-shadow: 0 -1px 5px 0 rgba(129,129,127,1);
  -o-box-shadow: 0 -1px 5px 0 rgba(129,129,127,1);
  box-shadow: 0 -1px 5px 0 rgba(129,129,127,1);
}

#part-menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

#part-menu ul > li {
  display: inline-block;
  padding: 5px 15px;
  line-height: 40px;
  margin: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#part-menu ul > li:hover {
  background-color: #afafaf;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
/* !главное меню */

/* Блок с изображениями */
.fancybox-title a {
  color: #fff;
}

.images-container {
  margin: 0;
  padding: 0 1%;
  width: 98%;
  text-align: center;
  display: inline-block;
}

.images-container.double.splitted {
  width: 47%;
}

.images-container.triple.splitted {
  width: 30%;
}

.images-container.quadruple.splitted {
  width: 22%;
}

.images-container.quintuple.splitted {
  width: 17%;
}

.images-container > p {
  margin: 0 0 1em 0;
}

.images-container > a {
  display: inline-block;
  padding: 1%;
}

.images-container > a > img {
  display: inline-block;
  max-width: 100%;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .6);
}

.images-container.single > a {
  width: 97.5%;
}

.images-container.double > a {
  width: 47%;
}

.images-container.double.splitted > a {
  width: 97.5%;
}

.images-container.triple > a {
  width: 30%;
}

.images-container.triple.splitted > a {
  width: 97.5%;
}

.images-container.quadruple > a {
  width: 22%;
}

.images-container.quadruple.splitted > a {
  width: 97.5%;
}

.images-container.quintuple > a {
  width: 17%;
}

.images-container.quintuple.splitted > a {
  width: 97.5%;
}

.images-container .description {
  font-style: italic;
  font-size: 80%;
}
/* !Блок с изображениями 